name: running

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Print Hello from Hexlet
        uses: hexlet-components/hello-from-hexlet-action@release

      - name: Setup, test, lint
        run: |
          make install
          make test
          make lint

